.form-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 95px;
}
.un-li {
  background-color: rgba(209, 219, 219, 0.719);
  padding-top: 20px;
  padding-top: 20px;
  border-radius: 4px;
  box-shadow: 0 0 11px white;
  border: solid 1px #ffffff75;
}
.button {
  border-radius: 7px;
  margin-bottom: 24px;
  margin-top: 28px;
  padding: 2px;
}
.error {
  color: #ad2121;
  margin: 8px;
  font-size: 16px;
}
