.back {
  background-color: #f5c2be;
  margin-top: 98px;
  border-radius: 2%;
  border: solid 2px;
  box-shadow: 2px 3px 7px white;
}
.button {
  margin: 15px;
  padding: 4px;
  border-radius: 9%;
  background-color: lightcoral;
}
.imgs {
  margin: 11px;
  border-radius: 7px;
}
