.qustion-card {
  text-align: center;
  background-color: #312d2db0;
  color: white;
  font-size: 21px;
  margin: 17px;
  display: flex;
  height: 100px;
  border: solid 4px #c9b607;
  border-radius: 2%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.card-container {
  width: 75vw;
  border: solid 1px;
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 1%;
  background-color: #00000057;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 658px;
}
.button {
  height: 57px;
  width: 314px;
  margin: 14px;
  border: solid 1px;
  border-radius: 2%;
  font-size: 17px;
}
.next-button {
  width: 147px;
  border: solid 3px green;
  height: 62px;
  border-radius: 55%;
  margin-bottom: 13px;
}
@media screen and (max-width: 575px) {
  div.qustion-card {
    font-size: 17px;
  }
  button.button {
    font-size: 15px;
  }
}
